/* =====================
   GLOBAL RESET
===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
}


/* ===== TOPBAR ===== */
.topbar {
  height: 60px;
  background: rgba(160, 154, 154, 0.08);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #111;
}

.chat-btn {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .topbar h3 {
    font-size: 16px;
  }

  .chat-btn {
    padding: 6px 10px;
    font-size: 14px;
  }
}
